gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter/Dart
.dart_tool/
build/
*.log
*.swp
*.swo
.DS_Store
*.lock
*.iml
.idea/
.gradle/
local.properties
*.keystore
*.jks

# Android
android/app/build/
android/.gradle/
android/local.properties